{{ form_start(form) }}

    {{ form_row(annonce.title) }}
    {{ form_row(from.prix) }}
    {{ form_row(from.description) }}
    {{ form_row(from.category) }}
    {{ form_row(from.city) }}
    {{ form_row(from.departement) }}
    {{ form_row(from.zipCity) }}
    {{ form_row(from.img) }}
<button type="submit">valider</button>

    
{{ form_end(form) }}
